<% include ./partials/header %>
<h1>INDEX PAGE !</h1>
<% Blogs.forEach(function(blog){ %>
    <div>
        <h2> <%= blog.title %></h2>
        <img src="<%= blog.image %>">
        <h6><%= blog.created %></h6>
        <p>
            <%= blog.body %>
        </p>
    </div>
<% }) %>
<% include ./partials/footer %>
